debugging

In [1]:
import pandas as pd
from class_file_clerk import *

#define localfile system
if not 'nb_dir' in globals():
    nb_dir = os.getcwd()
os.chdir('..')

%load_ext autoreload
%autoreload 2

In [2]:
df = pd.DataFrame({"a":[1,2,3],"b":[1,2,3]}).set_index('a')
df.loc[1,'b'] = 4

In [3]:
try:
    d.loc["banana",'b'] = 7
except Exception:
    print('a not found in Zoom data.')
    
d3 = df
dse = df
email_col = 'b'

a not found in Zoom data.

In [4]:
#TODO: if a student had a Zoom name that isn't present anymore, check to see if their email is still present.  
# If it is, update their Zoom name
e = 4
n = 'bananas'
try:
    d3.loc[n,email_col] = e
except Exception:
#     d3.query()
    print(f'Warning, {n} at {e} was not found in Zoom data.')

In [5]:
throw

NameError: name 'throw' is not defined

In [6]:
df1 = pd.DataFrame({"a":[1,2,3],"b":[1,2,3]}).set_index('a')
df2 = pd.DataFrame({"a":[1,2,3],"b":[4,1,6]}).set_index('a')
df1.where(df1>df2, df2)

   b
a
1  4
2  2
3  6

# keep max when students go to more than 1 discussion

In [59]:
zoom_dir = 'data/input/from_Zoom/'
skiprows = 2
time_col = 'Total Duration (Minutes)'
os.chdir(f"{nb_dir}/..")
email_col = 'User Email'
name_col = 'Name (Original Name)'


###################

#import attendence spreadsheet
print('inputted attendance files:')
att_fns = get_zoom_fn_list(zoom_dir)
print(att_fns)

d = pd.concat([pd.read_csv(fn, skiprows=skiprows, index_col=None) for fn in att_fns], sort=False)
d = d[d.index>0]#drop the TA in charge of discussion (assumed to be at index position 0)
d.reindex();

inputted attendance files:
['participants_804242982 (2).csv', 'participants_804242982 (1).csv', 'participants_804242982.csv']

In [60]:
# lst = att_fns
# # fn = lst.pop()
# d = pd.read_csv(lst.pop(), skiprows=skiprows)
# while lst is not []:
#     tmp = pd.read_csv(lst.pop(), skiprows=skiprows)
#     d = d.where(d[time_col]>tmp[time_col], tmp)

In [61]:
# d.query(f"{name_col} == 'Katada Siraj'")
name = 'Katada Siraj'

#take the max time per student

  Name (Original Name) User Email  Total Duration (Minutes)
9         Katada Siraj        NaN                        76

In [64]:
name_lst = list(set(d[name_col].values))
tmp = pd.concat([d[d[name_col]== name].sort_values(time_col,ascending=False).head(1) for name in name_lst])

In [67]:
sum(tmp[time_col]>35)

72